In [1369]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('1_appliances.csv')

In [1370]:
df.head(5)

,goods-title-link--jump,goods-title-link--jump href,rank-title,rank-sub,price,discount,selling_proposition,goods-title-link
0,1pc Rechargeable Deep Tissue Muscle Handheld M...,https://us.shein.com/1pc-Rechargeable-Deep-Tis...,#1 Best Sellers,in Give Gifts,$2.03,-22%,NaN,NaN
1,1pc Portable Hanging Neck Fan,https://us.shein.com/1pc-Portable-Hanging-Neck...,#4 Best Sellers,in Top rated in Portable Fans,$6.48,-20%,NaN,NaN
2,1pc Pink Colored Curved Eyelash Curler False E...,https://us.shein.com/1pc-Pink-Colored-Curved-E...,NaN,NaN,$1.80,NaN,400+ sold recently,NaN
3,1 Mini Portable Handheld Fan With 2 Aa Batteri...,https://us.shein.com/1-Mini-Portable-Handheld-...,NaN,NaN,$0.88,-72%,5.6k+ sold recently,NaN
4,"Wit Water Flosser,Portable Oral Irrigator With...",https://us.shein.com/Wit-Water-Flosser-Portabl...,#6 Best Sellers,in Oral Irrigators,$12.06,-40%,NaN,NaN

In [1371]:
print("Data Types before preprocessing:")
print(df.dtypes)

Data Types before preprocessing:
goods-title-link--jump         object
goods-title-link--jump href    object
rank-title                     object
rank-sub                       object
price                          object
discount                       object
selling_proposition            object
goods-title-link               object
dtype: object

# **Data Preprocessing**

# Removing the duplicates

In [1372]:
duplicated_rows = df[df.duplicated(keep=False)]

print("\nDuplicated rows (before removal):")
print(duplicated_rows)

Duplicated rows (before removal):
     goods-title-link--jump goods-title-link--jump href rank-title rank-sub  \
127                     NaN                         NaN        NaN      NaN
246                     NaN                         NaN        NaN      NaN
365                     NaN                         NaN        NaN      NaN
601                     NaN                         NaN        NaN      NaN
688                     NaN                         NaN        NaN      NaN
...                     ...                         ...        ...      ...
3975                    NaN                         NaN        NaN      NaN
3976                    NaN                         NaN        NaN      NaN
3977                    NaN                         NaN        NaN      NaN
3979                    NaN                         NaN        NaN      NaN
3980                    NaN                         NaN        NaN      NaN

          price discount selling_proposition  \
127      $11.00      NaN   30+ sold recently
246       $3.05     -50%                 NaN
365      $14.10      NaN  100+ sold recently
601      $26.10      NaN                 NaN
688       $9.63     -10%   10+ sold recently
...         ...      ...                 ...
3975  $1,499.99     -32%                 NaN
3976  $1,499.99     -32%                 NaN
3977  $2,399.99     -27%                 NaN
3979  $1,399.99     -30%                 NaN
3980     $61.99     -33%                 NaN

                                       goods-title-link
127   Multi-Functional Simple White Egg Steamer For ...
246   10-Pack Body Warmer Patch For Hands, Feet, Wai...
365   Sonic Skin Scrubber Skin Spatula Peeling Machi...
601   1pc Mini USB Rechargeable Portable Outdoor Par...
688   1pc Rechargeable Fashionable Neck Hanging Fan,...
...                                                 ...
3975  BOSSCARE 3D Full Body SL Track Massage Chair, ...
3976  BOSSCARE 3D Full Body SL Track Massage Chair, ...
3977  BOSSCARE Full Body Zero Gravity 4D Massage Cha...
3979  BOSSCARE 3D Full Body SL Track Massage Chair, ...
3980  Portable Battery Powered Camping Fan Super Lon...

[385 rows x 8 columns]

In [1373]:
# Original number of rows
original_row_count = df.shape[0]

# Remove duplicates based on the entire row
df_cleaned = df.drop_duplicates(keep='first')

# Number of delited rows
deleted_rows = original_row_count - df_cleaned.shape[0]

print(f"Number of rows deleted: {deleted_rows}")

Number of rows deleted: 209

# Normalize Data

In [1374]:
# 1. Clean 'price' column: Remove '$' and ',' and convert to float
df['price'] = df['price'].replace({'\\$': '', ',': ''}, regex=True).astype(float)
df['price'] = df['price'].apply(lambda x: format(x, '.2f')).astype(float)

In [1375]:
df.head(5)

,goods-title-link--jump,goods-title-link--jump href,rank-title,rank-sub,price,discount,selling_proposition,goods-title-link
0,1pc Rechargeable Deep Tissue Muscle Handheld M...,https://us.shein.com/1pc-Rechargeable-Deep-Tis...,#1 Best Sellers,in Give Gifts,2.03,-22%,NaN,NaN
1,1pc Portable Hanging Neck Fan,https://us.shein.com/1pc-Portable-Hanging-Neck...,#4 Best Sellers,in Top rated in Portable Fans,6.48,-20%,NaN,NaN
2,1pc Pink Colored Curved Eyelash Curler False E...,https://us.shein.com/1pc-Pink-Colored-Curved-E...,NaN,NaN,1.80,NaN,400+ sold recently,NaN
3,1 Mini Portable Handheld Fan With 2 Aa Batteri...,https://us.shein.com/1-Mini-Portable-Handheld-...,NaN,NaN,0.88,-72%,5.6k+ sold recently,NaN
4,"Wit Water Flosser,Portable Oral Irrigator With...",https://us.shein.com/Wit-Water-Flosser-Portabl...,#6 Best Sellers,in Oral Irrigators,12.06,-40%,NaN,NaN

In [1376]:
# 2. Clean 'discount' column: Remove '%' and convert to float, scale to 0 to 1 range
df['discount'] = df['discount'].replace({'%': '', ',': ''}, regex=True)

# 3 Convert to numeric, handle errors by coercing to NaN
df['discount'] = pd.to_numeric(df['discount'], errors='coerce')
df['discount'] = df['discount'].abs() / 100
df['discount'] = df['discount'].apply(lambda x: round(x, 2) if not np.isnan(x) else x)

In [1377]:
df.head(5)

,goods-title-link--jump,goods-title-link--jump href,rank-title,rank-sub,price,discount,selling_proposition,goods-title-link
0,1pc Rechargeable Deep Tissue Muscle Handheld M...,https://us.shein.com/1pc-Rechargeable-Deep-Tis...,#1 Best Sellers,in Give Gifts,2.03,0.22,NaN,NaN
1,1pc Portable Hanging Neck Fan,https://us.shein.com/1pc-Portable-Hanging-Neck...,#4 Best Sellers,in Top rated in Portable Fans,6.48,0.20,NaN,NaN
2,1pc Pink Colored Curved Eyelash Curler False E...,https://us.shein.com/1pc-Pink-Colored-Curved-E...,NaN,NaN,1.80,NaN,400+ sold recently,NaN
3,1 Mini Portable Handheld Fan With 2 Aa Batteri...,https://us.shein.com/1-Mini-Portable-Handheld-...,NaN,NaN,0.88,0.72,5.6k+ sold recently,NaN
4,"Wit Water Flosser,Portable Oral Irrigator With...",https://us.shein.com/Wit-Water-Flosser-Portabl...,#6 Best Sellers,in Oral Irrigators,12.06,0.40,NaN,NaN

In [1378]:
import re
import numpy as np

# 4 Clean 'selling_proposition' column: (e.g., 5.6k -> 5600, 2M -> 2000000)
def extract_numbers_from_selling_proposition(text):
    if isinstance(text, str):
        match = re.match(r"(\d+(\.\d+)?)\s*(k|K|M|m)?\s*(\+|sold)?", text)
        if match:
            number = float(match.group(1))
            suffix = match.group(3)
            if suffix in ['k', 'K']:
                number *= 1000  # Convert 'k' to thousands
            elif suffix in ['m', 'M']:
                number *= 1000000  # Convert 'M' to millions
            return int(number)
    return np.nan

# 5 'rank-title' column: (e.g., #1 Best Sellers -> 1, #6 Best Sellers -> 6)
def extract_rank_number(text):
    if isinstance(text, str):
        match = re.match(r"#(\d+)", text)  # Match any number following "#"
        if match:
            return int(match.group(1))
    return np.nan

df['selling_proposition'] = df['selling_proposition'].apply(extract_numbers_from_selling_proposition)
df['rank-title'] = df['rank-title'].apply(extract_rank_number)

In [1379]:
df.head(5)

,goods-title-link--jump,goods-title-link--jump href,rank-title,rank-sub,price,discount,selling_proposition,goods-title-link
0,1pc Rechargeable Deep Tissue Muscle Handheld M...,https://us.shein.com/1pc-Rechargeable-Deep-Tis...,1.0,in Give Gifts,2.03,0.22,NaN,NaN
1,1pc Portable Hanging Neck Fan,https://us.shein.com/1pc-Portable-Hanging-Neck...,4.0,in Top rated in Portable Fans,6.48,0.20,NaN,NaN
2,1pc Pink Colored Curved Eyelash Curler False E...,https://us.shein.com/1pc-Pink-Colored-Curved-E...,NaN,NaN,1.80,NaN,400.0,NaN
3,1 Mini Portable Handheld Fan With 2 Aa Batteri...,https://us.shein.com/1-Mini-Portable-Handheld-...,NaN,NaN,0.88,0.72,5600.0,NaN
4,"Wit Water Flosser,Portable Oral Irrigator With...",https://us.shein.com/Wit-Water-Flosser-Portabl...,6.0,in Oral Irrigators,12.06,0.40,NaN,NaN

In [1380]:
print(df.dtypes)

goods-title-link--jump          object
goods-title-link--jump href     object
rank-title                     float64
rank-sub                        object
price                          float64
discount                       float64
selling_proposition            float64
goods-title-link                object
dtype: object

# Rename Columns

In [1381]:
df.rename(columns={
    'goods-title-link--jump': 'Product Link (Jump)',
    'goods-title-link--jump href': 'Product Link (Href)',
    'rank-title': 'Rank Title',
    'rank-sub': 'Rank Subcategory',
    'price': 'Price',
    'discount': 'Discount',
    'selling_proposition': 'Selling Proposition',
    'goods-title-link': 'Product Link'
}, inplace=True)

# Handling Missing Values and Correcting Errors

In [1382]:
# Handle missing values
df['Price'] = df['Price'].fillna(df['Price'].median())
df['Discount'] = df['Discount'].fillna(0)
df['Selling Proposition'] = df['Selling Proposition'].fillna(0)
df['Rank Title'] = df['Rank Title'].fillna(0)
df['Rank Subcategory'] = df['Rank Subcategory'].fillna('Unknown')

# Fill 'Product Link' columns
df['Product Link (Jump)'] = df['Product Link (Jump)'].fillna('Unknown')
df['Product Link (Href)'] = df['Product Link (Href)'].fillna('N/A')
df['Product Link'] = df['Product Link'].fillna('No link available')

# Encode Categorical Data

In [1383]:
# Encode the 'Product Link' columns and 'Rank Subcategory' availability
df['Product Link (Jump) Available'] = df['Product Link (Jump)'].apply(lambda x: 1 if x != 'Unknown' else 0)  # 1 if available, 0 if 'Unknown'
df['Product Link (Href) Available'] = df['Product Link (Href)'].apply(lambda x: 1 if x != 'N/A' else 0)  # 1 if available, 0 if 'N/A'
df['Product Link Available'] = df['Product Link'].apply(lambda x: 1 if x != 'No link available' else 0)  # 1 if available, 0 if 'No link available'

In [1384]:
# Encode the 'Rank Subcategory' availability as 1 if available, 0 if missing (using 'Unknown')
df['Rank Subcategory Available'] = df['Rank Subcategory'].apply(lambda x: 1 if x != 'Unknown' else 0)

# Drop the original 'Product Link' columns after encoding
df.drop(['Product Link (Jump)', 'Product Link (Href)', 'Product Link', 'Rank Subcategory'], axis=1, inplace=True)

In [1385]:
# Reorganize the dataframe to maintain the correct column order
column_order = [
    'Product Link (Jump) Available', 
    'Product Link (Href) Available', 
    'Product Link Available', 
    'Rank Title', 
    'Rank Subcategory Available',
    'Price', 
    'Discount', 
    'Selling Proposition'
]

df = df[column_order]

print(df.head())
print(df.isna().sum())

   Product Link (Jump) Available  Product Link (Href) Available  \
0                              1                              1
1                              1                              1
2                              1                              1
3                              1                              1
4                              1                              1

   Product Link Available  Rank Title  Rank Subcategory Available  Price  \
0                       0         1.0                           1   2.03
1                       0         4.0                           1   6.48
2                       0         0.0                           0   1.80
3                       0         0.0                           0   0.88
4                       0         6.0                           1  12.06

   Discount  Selling Proposition
0      0.22                  0.0
1      0.20                  0.0
2      0.00                400.0
3      0.72               5600.0
4      0.40                  0.0
Product Link (Jump) Available    0
Product Link (Href) Available    0
Product Link Available           0
Rank Title                       0
Rank Subcategory Available       0
Price                            0
Discount                         0
Selling Proposition              0
dtype: int64

In [1386]:
df.head(5)

,Product Link (Jump) Available,Product Link (Href) Available,Product Link Available,Rank Title,Rank Subcategory Available,Price,Discount,Selling Proposition
0,1,1,0,1.0,1,2.03,0.22,0.0
1,1,1,0,4.0,1,6.48,0.20,0.0
2,1,1,0,0.0,0,1.80,0.00,400.0
3,1,1,0,0.0,0,0.88,0.72,5600.0
4,1,1,0,6.0,1,12.06,0.40,0.0

In [1387]:
# Get the number of rows and unique values for each column
unique_values = df.nunique()
num_rows = len(df)

summary_unique = pd.DataFrame({
    'Number of Rows': [num_rows] * len(df.columns),
    'Number of Unique Values': unique_values
}, index=df.columns)

print(summary_unique)

                               Number of Rows  Number of Unique Values
Product Link (Jump) Available            3986                        2
Product Link (Href) Available            3986                        2
Product Link Available                   3986                        2
Rank Title                               3986                       11
Rank Subcategory Available               3986                        2
Price                                    3986                     1512
Discount                                 3986                       81
Selling Proposition                      3986                       65

In [1388]:
df.head(5)

,Product Link (Jump) Available,Product Link (Href) Available,Product Link Available,Rank Title,Rank Subcategory Available,Price,Discount,Selling Proposition
0,1,1,0,1.0,1,2.03,0.22,0.0
1,1,1,0,4.0,1,6.48,0.20,0.0
2,1,1,0,0.0,0,1.80,0.00,400.0
3,1,1,0,0.0,0,0.88,0.72,5600.0
4,1,1,0,6.0,1,12.06,0.40,0.0

# Feature Engineering

In [1389]:
# Create 'Price with discount' feature
df['Price with discount'] = df['Price'] * (1 - df['Discount'])

# Create 'Profit before discount' feature
df['Profit before discount'] = df['Price'] * df['Selling Proposition']

# Create 'Profit after discount' feature
df['Profit after discount'] = df['Price with discount'] * df['Selling Proposition']

# Create 'Profit Per Unit' feature
df['Profit Per Unit'] = df['Profit after discount'] / df['Selling Proposition'].replace(0, np.nan)

# Replace NaN with 0
df['Profit Per Unit'] = df['Profit Per Unit'].fillna(0)

df.head(5)

,Product Link (Jump) Available,Product Link (Href) Available,Product Link Available,Rank Title,Rank Subcategory Available,Price,Discount,Selling Proposition,Price with discount,Profit before discount,Profit after discount,Profit Per Unit
0,1,1,0,1.0,1,2.03,0.22,0.0,1.5834,0.0,0.00,0.0000
1,1,1,0,4.0,1,6.48,0.20,0.0,5.1840,0.0,0.00,0.0000
2,1,1,0,0.0,0,1.80,0.00,400.0,1.8000,720.0,720.00,1.8000
3,1,1,0,0.0,0,0.88,0.72,5600.0,0.2464,4928.0,1379.84,0.2464
4,1,1,0,6.0,1,12.06,0.40,0.0,7.2360,0.0,0.00,0.0000

In [1390]:
# Let's see the rows where both 'Profit before discount' and 'Profit after discount' are not 0
filtered_df = df[(df['Profit before discount'] != 0) & (df['Profit after discount'] != 0)]

filtered_df.head(10)

,Product Link (Jump) Available,Product Link (Href) Available,Product Link Available,Rank Title,Rank Subcategory Available,Price,Discount,Selling Proposition,Price with discount,Profit before discount,Profit after discount,Profit Per Unit
2,1,1,0,0.0,0,1.80,0.00,400.0,1.8000,720.0,720.00,1.8000
3,1,1,0,0.0,0,0.88,0.72,5600.0,0.2464,4928.0,1379.84,0.2464
11,1,1,0,0.0,0,2.50,0.00,50.0,2.5000,125.0,125.00,2.5000
12,1,1,0,0.0,0,2.70,0.00,30.0,2.7000,81.0,81.00,2.7000
14,1,1,0,0.0,0,1.49,0.55,60.0,0.6705,89.4,40.23,0.6705
19,1,1,0,0.0,0,14.60,0.00,30.0,14.6000,438.0,438.00,14.6000
21,1,1,0,0.0,0,2.15,0.50,100.0,1.0750,215.0,107.50,1.0750
22,1,1,0,0.0,0,0.74,0.47,100.0,0.3922,74.0,39.22,0.3922
24,1,1,0,0.0,0,8.55,0.29,200.0,6.0705,1710.0,1214.10,6.0705
27,1,1,0,0.0,0,12.50,0.00,100.0,12.5000,1250.0,1250.00,12.5000

In [1391]:
# List of columns to check unique values
columns_to_check_unique = [
    'Product Link (Jump) Available', 
    'Product Link (Href) Available', 
    'Rank Title', 
    'Rank Subcategory Available',
    'Product Link Available'
]

# Check unique values for each of the specified columns
unique_values = {col: df[col].unique() for col in columns_to_check_unique}

print("Unique Values for the Specified Columns:")
for col, values in unique_values.items():
    print(f"\n{col}:")
    print(values)

Unique Values for the Specified Columns:

Product Link (Jump) Available:
[1 0]

Product Link (Href) Available:
[1 0]

Rank Title:
[ 1.  4.  0.  6. 10.  8.  9.  5.  2.  7.  3.]

Rank Subcategory Available:
[1 0]

Product Link Available:
[0 1]